<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Título da tarefa:</h1>
        <input type="text" class="form-control" v-model="todo.titulo" />
        <br />
        <h1>Descrição da tarefa:</h1>
        <textarea type="text" rows="5" class="form-control" v-model="todo.descricao" />
      </div>
      <div class="col-md-6">
        <h1>Data de conclusão:</h1>
        <input v-model="todo.data" type="date" class="form-control" />
        <br />
        <h1>
          Prioridade:
          <transition enter-active-class="animated flip position-absolute">
            <span v-if="this.todo.prioridade == 1" class="badge badge-success">Baixa</span>
          </transition>
          <transition enter-active-class="animated flip position-absolute">
            <span v-if="this.todo.prioridade == 2" class="badge badge-warning">Média</span>
          </transition>
          <transition enter-active-class="animated flip position-absolute">
            <span v-if="this.todo.prioridade == 3" class="badge badge-danger">Alta</span>
          </transition>
        </h1>
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a
              @click.prevent="todo.prioridade = 1"
              class="nav-link bg-success text-white"
              href="#"
            >Baixa</a>
          </li>
          <li class="nav-item">
            <a
              @click.prevent="todo.prioridade = 2"
              class="nav-link bg-warning text-white"
              href="#"
            >Média</a>
          </li>
          <li class="nav-item">
            <a
              @click.prevent="todo.prioridade = 3"
              class="nav-link bg-danger text-white"
              href="#"
            >Alta</a>
          </li>
        </ul>
      </div>
    </div>
    <br />
    <button class="btn btn-primary btn-block btn-lg" @click.prevent="novaTarefa">Adicionar tarefa</button>
    <router-link class="btn btn-secondary btn-block btn-lg" :to="{name: 'root'}">Voltar à lista</router-link>
    <br />

    
  </div>
</template>
<script>
import Todo from "./Todo.vue";

export default {
  data: function() {
    return {
      todo: {
        titulo: "",
        prioridade: 1,
        descricao: "",
        data: "",
        concluida: false
      },
      todos: this.getTodos()
    };
  },
  methods: {
    novaTarefa() {
      let todos = this.todos;
      let todo = this.todo;
      let resultados = todos.filter((tarefa) => tarefa.titulo == todo.titulo)      
      if (todo.titulo.length == 0) {
        alert("Digite uma tarefa");
      } else if (todo.data == 0) {
        alert("Especifique uma data");
      } else if (todo.descricao.length == 0) {
        alert("Digite a descrição da tarefa");
      } else if (resultados.length > 0){
        alert('Já existe uma tarefa com esse título')
      } else {
        this.todos.push({
          titulo: todo.titulo,
          prioridade: todo.prioridade,
          descricao: todo.descricao,
          data: todo.data,
          concluida: todo.concluida
        });
        this.titulo = "";
        this.descricao = "";
        this.data = "";       
        this.insertInLS(this.todos);
        this.$router.push('/')
      }
    },
    getTodos() {
      const todosJSON = localStorage.getItem("todos");
      let todos = [];
      if (todosJSON != undefined && todosJSON != null && todosJSON != "") {
        todos = JSON.parse(todosJSON);
      }
      console.log(todos);
      return todos;
    },  
    insertInLS(todos) {
      let todosJSON = JSON.stringify(todos);
      localStorage.setItem('todos', todosJSON);
    }
  },
  components: {
    Todo
  }
};
</script>
<style scoped>
.card {
  min-height: 300px;
  margin-bottom: 50px;
}
</style>
