<template>
  <div class="container">
    <h1>TODO App</h1>
    <router-link class="btn btn-primary btn-block btn-lg my-4" :to="{ name: 'novo' }">Nova tarefa</router-link>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-danger text-white">Tarefas pendentes</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <transition-group
                enter-active-class="animated fadeInLeft"
                leave-active-class="animated fadeOutRight"
              >
                <div v-for="(todo, index) in todos" :key="todo.titulo">
                  <div v-if="!todo.concluida" class="card my-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <router-link
                        :to="{ name: 'tarefa' , params:{ titulo: todo.titulo, descricao: todo.descricao, data: todo.data }}"
                      >{{todo.titulo}}</router-link>
                      <span v-if="todo.prioridade == 1" class="badge badge-success">Prioridade Baixa</span>
                      <span v-if="todo.prioridade == 2" class="badge badge-warning">Prioridade Média</span>
                      <span v-if="todo.prioridade == 3" class="badge badge-danger">Prioridade Alta</span>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        <span class="badge badge-primary">Concluir até {{ todo.data }}</span>
                        <br />
                        {{todo.descricao}}
                      </p>
                      <a
                        v-if="!todo.concluida"
                        href="#"
                        @click.prevent="concluir(todo)"
                        :todos="todos"
                        class="btn btn-danger btn-block text-center animated fadeIn"
                      >Concluir</a>
                      <a
                        v-if="todo.concluida"
                        href="#"
                        :todos="todos"
                        @click.prevent="todo.concluida = false"
                        class="btn btn-success btn-block text-center animated fadeIn"
                      >Concluída!</a>
                      <a
                        href="#"
                        @click.prevent="remover(index)"
                        class="btn btn-secondary btn-block text-center mt-3"
                      >Remover</a>
                    </div>
                  </div>
                </div>
              </transition-group>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-success text-white">Tarefas concluídas</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <transition-group
                enter-active-class="animated fadeInLeft"
                leave-active-class="animated fadeOutRight"
              >
                <div v-for="(todo, index) in todos" :key="todo.titulo">
                  <div v-if="todo.concluida" class="card my-3 animated fadeInLeft">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <router-link
                        :to="{ name: 'tarefa' , params:{ titulo: todo.titulo, descricao: todo.descricao }}"
                      >{{todo.titulo}}</router-link>
                      <span v-if="todo.prioridade == 1" class="badge badge-success">Prioridade Baixa</span>
                      <span v-if="todo.prioridade == 2" class="badge badge-warning">Prioridade Média</span>
                      <span v-if="todo.prioridade == 3" class="badge badge-danger">Prioridade Alta</span>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        <span class="badge badge-primary">Concluir até {{ todo.data }}</span>
                        <br />
                        {{todo.descricao}}
                      </p>
                      <a
                        v-if="!todo.concluida"
                        href="#"
                        @click.prevent="concluir"
                        :todos="todos"
                        class="btn btn-danger btn-block text-center animated fadeInRight"
                      >Concluir</a>
                      <a
                        v-if="todo.concluida"
                        href="#"
                        :todos="todos"
                        @click.prevent="desconcluir(todo)"
                        class="btn btn-success btn-block text-center animated fadeIn"
                      >Desconcluir</a>
                      <a
                        href="#"
                        @click.prevent="remover(index)"
                        class="btn btn-secondary btn-block text-center mt-3"
                      >Remover</a>
                    </div>
                  </div>
                </div>
              </transition-group>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import addItem from "./addItem.vue";
export default {
  data: function() {
    return {
      todos: this.getTodos()
    };
  },
  methods: {
    getTodos() {
      const todosJSON = localStorage.getItem("todos");
      let todos = [];
      if (todosJSON != undefined && todosJSON != null && todosJSON != "") {
        todos = JSON.parse(todosJSON);
      }
      console.log(todos);
      return todos;
    },
    concluir(todo) {
      let todos = this.todos;
      todos = todos.filter(tarefa => tarefa !== todo);

      todo.concluida = true;
      todos.push(todo);

      this.todos = todos;

      this.insertInLS(todos);
    },
    desconcluir(todo) {
      let todos = this.todos;
      todos = todos.filter(tarefa => tarefa !== todo);

      todo.concluida = false;
      todos.push(todo);

      this.insertInLS(todos);
    },
    remover(index) {
      let seraRemovido = confirm('Deseja remover o item?');
      if(seraRemovido){
        this.todos.splice(index, 1);
        this.insertInLS(this.todos);
      }
    },
    insertInLS(todos) {
      let todosJSON = JSON.stringify(todos);
      localStorage.setItem('todos', todosJSON);
    }
  }
  
};
</script>

