<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-center">
          <div v-if="!isEditando">
            <div class="card-header bg-primary text-white">{{ this.todo.titulo }}</div>
            <div class="card-body">
              <p class="card-text">
                <span v-if="this.todo.prioridade == 1" class="badge badge-success">Prioridade Baixa</span>
                <span v-if="this.todo.prioridade == 2" class="badge badge-warning">Prioridade Média</span>
                <span v-if="this.todo.prioridade == 3" class="badge badge-danger">Prioridade Alta</span>
              </p>
              <p class="card-text">{{ this.todo.descricao }}</p>

              <a href="#" @click.prevent="editarItem" class="btn btn-primary">Editar Todo</a>
              <router-link class="btn btn-dark" :to="{ name: 'root' }">Voltar à lista</router-link>
            </div>
            <div
              v-if="todo.concluida"
              class="card-footer text-muted bg-success text-white"
            >Concluída!</div>
            <div
              v-if="!todo.concluida"
              class="card-footer text-muted bg-danger text-white"
            >Tarefa pendente. Concluir até {{ this.todo.data }}</div>
          </div>
          <div v-if="isEditando">
            <div class="card-header bg-primary text-white">Editar {{ this.todo.titulo }}</div>
            <div class="card-body">
              <div v-if="todo.concluida" class="alert alert-success">
                Essa tarefa está concluída!
                 <router-link class="text-white" :to="{ name: 'root' }"><b>Volte à lista</b></router-link> caso queira desconcluir
              </div>
              <div v-if="!todo.concluida" class="alert alert-danger">
                Essa tarefa está pendente!
                <router-link class="text-white" :to="{ name: 'root' }"><b>Volte à lista</b></router-link> caso queira concluir
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Título</label>
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput"
                  v-model="todo.titulo"
                />
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Descrição</label>
                <textarea
                  rows="5"
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput2"
                  v-model="todo.descricao"
                />
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Data</label>
                <input
                  type="date"
                  class="form-control"
                  id="formGroupExampleInput2"
                  v-model="todo.data"
                />
              </div>
              <h1>
                Prioridade:
                <transition enter-active-class="animated flip position-absolute">
                  <span v-if="this.todo.prioridade == 1" class="badge badge-success">Baixa</span>
                </transition>
                <transition enter-active-class="animated flip position-absolute">
                  <span v-if="this.todo.prioridade == 2" class="badge badge-warning">Média</span>
                </transition>
                <transition enter-active-class="animated flip position-absolute">
                  <span v-if="this.todo.prioridade == 3" class="badge badge-danger">Alta</span>
                </transition>
              </h1>
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                  <a
                    @click.prevent="todo.prioridade = 1"
                    class="nav-link bg-success text-white"
                    href="#"
                  >Baixa</a>
                </li>
                <li class="nav-item">
                  <a
                    @click.prevent="todo.prioridade = 2"
                    class="nav-link bg-warning text-white"
                    href="#"
                  >Média</a>
                </li>
                <li class="nav-item">
                  <a
                    @click.prevent="todo.prioridade = 3"
                    class="nav-link bg-danger text-white"
                    href="#"
                  >Alta</a>
                </li>
              </ul>
              <hr />

              <button @click.prevent="editarTodo" class="btn btn-primary my-3">Salvar alterações</button>
              <button @click.prevent="editarItem" class="btn btn-dark my-3">Cancelar Edição</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isEditando: false,
      oldTodo: this.getTodo(),
      todo: this.getTodo(),
      todos: this.getTodos()
    };
  },
  methods: {
    editarItem() {
      this.isEditando = !this.isEditando;
    },
    editarTodo() {
      let todos = this.todos;
      let todo = this.todo;
      let resultados = todos.filter(tarefa => tarefa.titulo == todo.titulo);
      if (todo.titulo.length == 0) {
        alert("Digite uma tarefa");
      } else if (todo.data == 0) {
        alert("Especifique uma data");
      } else if (todo.descricao.length == 0) {
        alert("Digite a descrição da tarefa");
      } else if (resultados.length > 0) {
        alert("Já existe uma tarefa com esse título");
      } else {
        this.todos.push({
          titulo: todo.titulo,
          prioridade: todo.prioridade,
          descricao: todo.descricao,
          data: todo.data,
          concluida: todo.concluida
        });
        this.titulo = "";
        this.descricao = "";
        this.data = "";
        this.insertInLS(this.todos);
        this.$router.push("/");
      }
    },
    getTodos() {
      const todosJSON = localStorage.getItem("todos");
      let todos = [];
      let todo = this.getTodo();
      if (todosJSON != undefined && todosJSON != null && todosJSON != "") {
        todos = JSON.parse(todosJSON);
      }

      todos = todos.filter(tarefa => tarefa.titulo != todo.titulo);
      return todos;
    },
    getTodo() {
      const todosJSON = localStorage.getItem("todos");
      const todos = JSON.parse(todosJSON);

      let titulo = this.$route.params.titulo;
      let todo = todos.filter(tarefa => {
        return tarefa.titulo == titulo;
      });

      todo = todo[0];
      return todo;
    },
    setTodo() {
      const todosJSON = localStorage.getItem("todos");
      let todos = JSON.parse(todosJSON);
      let oldTodo = this.oldTodo;
      let newTodo = this.todo;

      todos = todos.filter(tarefa => {
        return tarefa.titulo != oldTodo.titulo;
      });

      todos.push(newTodo);
    },
    insertInLS(todos) {
      let todosJSON = JSON.stringify(todos);
      localStorage.setItem("todos", todosJSON);
    }
  }
};
</script>
