<template>
  <div id="app">
    <transition enter-active-class="animated fadeIn">
      <router-view></router-view>
    </transition>
  </div>
</template>
<script>
import Animate from "animate.css";

export default {
  name: "app"
};
</script>

<style>
#app {
  margin-top: 20px;
}
</style>
